<div class="col-md-8 offset-md-3">
    <h2>Update Customer</h2>
    <form (ngSubmit)="updateEngineer()">
    
        <div class="form-group">
            <label>name</label>
            <input type="text" class="form-control" id="name"
                [(ngModel)]="engineer.name" name="name">
        </div>
        <div class="form-group">
            <label>pin</label>
            <input type="text" class="form-control" id="pin"
                [(ngModel)]="engineer.pin" name="pin">
        </div>
        <div class="form-group">
            <label>password</label>
            <input type="text" class="form-control" id="password"
                [(ngModel)]="engineer.password" name="password">
        </div>
        <button class="btn btn-success" type="submit">Update</button>
    </form>
    </div>